body{
    background: #f4f4f4;
}

.loading::after{
    content: "Načítání...";
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    line-height: 600px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(255, 255, 255, .5);
}

/*Tooltip*/
.tooltip-toggle{
    position: absolute;
    z-index: 99;
    top: .6rem;
    right: .6rem;
    background: black;
    color: white;
    font-weight:bold;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 100%;
}
.tooltip-toggle-bar{
    display: none;
    position: absolute;
    z-index: 99;
    top: .6rem;
    right: .6rem;
    background: white;
    padding: .5rem;
    max-width: 80%;
    min-width: 4rem;
}
.tooltip-toggle-bar__content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
}
.tooltip-toggle-bar .close{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background: black;
    width: 1rem;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    border-radius: 100%;
}

/*Multipleselect*/
.removeOption{
    color: red;
    cursor: pointer;
    font-weight: normal !important;
    margin-left: 1rem;
    font-size: 70%;
}
.multipleSelectFrom__selectors{
    position: relative;
}
.multipleSelectFrom__selectors div{
    height: 5rem;
    cursor: pointer;
}
.multipleSelectFrom__selectors img{
    height: 100%;
    border-radius: 100%;
    margin-right: 1rem;
}
.multipleSelectFrom__area{
    width: 100%;
    display:block;
}
.multipleSelectFromStack{
    display: none;
}
.multipleSelectFromStack.selectedStackItem{
    display: flex !important;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}
.multipleSelectFromStackItem{
    text-align: center;
}
.multipleSelectFromStackItem .optionImage{
    border-radius: 100%;
    display: block;
    margin-bottom: .2rem;
    overflow: hidden;
}
.undefinedItem{
    display: none;
}

/*Obrázky select*/
/*Obrázek - nahrávání label text*/
.uploadLabel{
    text-align: center;
    width: 95%;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid brown;
    border-radius: .3rem;
    cursor:pointer;
}
.imageStack{
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 10rem;
    background: #ddd;
    overflow-x: auto;
    overflow-y: hidden;
}
.imageStackItem{
    display: inline;
    height: 100%;
    opacity: 70%;
    transition: .3s ease-in-out;
    margin: 0 .5rem;
}
.imageStackItem:hover{
    opacity: 100%;
}
.imageStackItem.selectedItem{
    opacity: 100%;
}
.imageStackItem img{
    height: 100%;
}
.cropRotate{
    margin-top: 1rem;
}
.imageStackSelect{
    display: flex;
}

/*Range horizontal*/
.ui-slider-horizontal .ui-slider-handle, .ui-slider-horizontal .ui-slider-handle.ui-state-hover {
    background: white !important;
    outline: 0;
    border: 2px solid brown !important;
    border-radius: 100%;
    width: 2rem !important;
    height: 2rem !important;
    cursor: pointer;
    transform: translateY(-.3rem);
    text-align: center;
    line-height: 1.7rem;
}

/*Range vertical*/
.ui-slider-vertical .ui-slider-handle, .ui-slider-vertical .ui-slider-handle.ui-state-hover{
    background: white !important;
    outline: 0;
    border: 2px solid brown !important;
    border-radius: 100%;
    width: 2rem !important;
    height: 2rem !important;
    left: 50% !important;
    right: 50% !important;
    transform: translateX(-50%);
    cursor: pointer;
}
.ui-slider-vertical .ui-slider-handle[data-height]:after{
    content: attr(data-height);
}
.ui-slider-vertical .ui-slider-handle:after{
    content: "0%";
    color: black !important;
    text-align: center !important;
    display:block;
    line-height: 1.8rem;
    width: 100% !important;
    font-size: 70%;
}
.ui-slider-vertical{
    height: 100%;
    margin: auto;
    background: transparent;
    border: 0 !important;
    z-index: 99;
    width: 100%;
}

/*Vybraný item defaultní*/
.selectedItem{
    font-weight: bold;
}

/*Results*/
.resultNull{
    display: block;
    text-align: center;
    padding: 1rem;
    width: 100%;
}
.konfiguratorProductResults{
    display: flex;
    gap: 1rem;
}
.konfiguratorProductResults__item__value{
    background: white;
    width: 3.2rem;
    height: 3.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 3rem;
    border-radius: 100%;
    margin: auto;
}

/*Defaultní nastavení každého selectoru*/
.konfiguratorChangeable{
    position: relative;
}
.konfiguratorChangeable h2{
    width: 100%;
    display: block;
}
.konfiguratorChangeable div{
    cursor: pointer;
}

/*Range Selector*/
.konfiguratorRange{
    width:150px;
    height: 150px;
    position: relative;
    background: #e0e0e0;
}
.konfiguratorRange::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('slider-background.png') no-repeat;
    background-size: cover;
}
.konfiguratorRange .konfiguratorBackground{
    background: blue;
    position: absolute;
    width: 100%;
    bottom: 0;
    left:0;
}

@media only screen and (max-width: 1200px){
    .imageStack{ width: 80vw; }
}