@font-face {
    font-family: 'Briko Rough';
    src: url('./fonts/brikorough-bold.woff2') format('woff2'), url('./fonts/brikorough-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal
}

body{
    padding: 0;
    margin: 0;
}

/*Jednotlivy konfigurator*/
.konfiguratorChangeable{
    background: #eeeeee;
    padding: 1rem;
}

.konfiguratorChangeable h2{
    font-family: "Briko Rough", sans-serif;
    text-transform: uppercase;
}

.konfiguratorDescription{
    float: left;
    height: 150px;
    overflow: hidden;
}

.konfiguratorRange{
    float: left;
}

.konfiguratorDescription img{
    height: 100%;
}

.selectedItem{
    font-weight: normal;
}

.optionText .mainTitle{
    font-weight: bold;
    text-transform: uppercase;
}

.optionText small{
    display: block;
    font-size: 70%;
    font-weight: 0 !important;
}


/*Results*/
#konfiguratorResults{
    background: #eeeeee;
    padding: 1.5rem 0 .5rem;
}
.konfiguratorProductResults{
    justify-content: center;
    flex-wrap: wrap;
}
.konfiguratorProductResults > div {
    width: 5rem;
    text-align: center;
}
.konfiguratorProductResults__item__title{
    margin-top: .6rem;
    font-size: 75%;
}

/*Tooltip*/
.tooltip-toggle-bar{
    border-radius: .4rem;
    border: 1px solid #a0a0a0;
}
.tooltip-toggle-bar__content{
    padding: .7rem 1.5rem;
}
.tooltip-toggle-bar__content p {
    margin: 0;
    font-size: 90%;
}

/*Upload*/
.uploadLabel{
    margin: .5rem 1rem;
    height: 4rem;
    line-height: 3.7rem;
    border: 2px dotted #404040;
}
.konfigurator__image.imageStack{
    margin-top: .7rem;
}

/*Rozložení grid*/
#konfigurator{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .2rem;
    background: white;
}

#konfiguratorResults{
    grid-row: 2;
    grid-column: 1 / span 2;
}

.konfigurator__chut{
    grid-row: 1;
    grid-column: 1 / 2;
}

.konfigurator__aroma{
    grid-row: 1;
    grid-column: 2 / 2;
}

.konfigurator__mleti{
    grid-row: 3;
    grid-column: 1 / span 2; 
}

.konfigurator__image{
    grid-row: 4;
    grid-column: 1 / span 2;
}

.konfigurator__customText{
    grid-row: 5;
    grid-column: 1 / span 2;
}

.konfigurator__velikost{
    grid-row: 6;
    grid-column: 1 / span 2;
}

/*Nastavení jednoselektorů*/
.konfigurator__velikost, .konfigurator__mleti{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.konfigurator__velikost h2, .konfigurator__mleti h2{
    grid-row: 1;
    grid-column: 1 / span 3;
}

.konfigurator__velikost__item > .optionImage, .konfigurator__mleti__item > .optionImage{
    width: 5rem;
    height: 5rem;
    background: white;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.konfigurator__velikost__item > .optionImage > img, .konfigurator__mleti__item > .optionImage > img{
    width: 100%;
}

.optionImage:after{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.konfigurator__velikost__item.selectedItem .optionImage:after, .konfigurator__mleti__item.selectedItem .optionImage:after{
    border:5px solid brown;
}
.konfigurator__velikost__item:hover > .optionImage:after, .konfigurator__mleti__item:hover > .optionImage:after{
    border:5px solid brown;
}
.konfigurator__velikost__item, .konfigurator__mleti__item {
    height: 5rem;
    display:flex;
    align-items:center;
    gap: 1rem;
}

@media only screen and (max-width:1200px){
    #konfigurator{
        grid-template-columns: 1fr;
    }

    .konfigurator__chut, .konfigurator__aroma, #konfiguratorResults, .konfigurator__mleti, .konfigurator__image, .konfigurator__velikost, .konfigurator__customText{
        grid-column: 1;
    }

    .konfigurator__aroma{
        grid-row: 2;
    }

    #konfiguratorResults{
        grid-row: 3;
    }

    .konfigurator__mleti{
        grid-row: 4;
        grid-template-columns: 1fr;
    }
    .konfigurator__mleti__item{grid-column: 1;}

    .konfigurator__image{
        grid-row: 5;
    }

    .konfigurator__velikost{
        grid-row: 6;
        grid-template-columns: 1;
    }
    .konfigurator__velikost__item{grid-column: 1;}
}