.konfigurator__product{
    grid-row: 1 / 5;
    grid-column: 3;
    position: relative;
    height: 608px;
}

.konfigurator__product__content{
    height: 608px;
    width: 377px;
    overflow: hidden;
    position: relative;
}

.product__etiketa{
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

@media only screen and (max-width: 1200px){
    .konfigurator__product{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 100;
    }

    .konfigurator__product__content{
        margin: auto;
    }
}