.konfigurator__product{
    grid-row: 1 / 5;
    grid-column: 3;
    position: relative;
    height: 608px;
}

.konfigurator__product__content{
    height: 608px;
    width: 377px;
    overflow: hidden;
    position: relative;
}

.product__etiketa{
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

.konfigurator__product--open, .konfigurator__product--close{
    display: none;
}

@media only screen and (max-width: 1200px){
    .konfigurator__product{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 100;
        display: none;
    }

    .konfigurator__product.show{
        display: block;
    }

    .konfigurator__product--open, .konfigurator__product--close{
        display: block;
    }

    .konfigurator__product--open{
        position: fixed;
        z-index: 99;
        right: 1rem;
        bottom: 1rem;
        font-size: 2rem;
        font-weight: bold;
        background: #404040;
        color: white;
        width: 2rem;
        height: 2rem;
        line-height: 1.8rem;
        text-align: center;
        border-radius: 100%;
        cursor: pointer;
    }

    .konfigurator__product--close{
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 2rem;
        font-weight: bold;
        z-index: 101;
        background: #404040;
        color: white;
        width: 2rem;
        height: 2rem;
        line-height: 1.8rem;
        text-align: center;
        border-radius: 100%;
        cursor: pointer;
    }

    .konfigurator__product__content{
        margin: auto;
        width: 300px;
        height: 483.82px;
    }

    .product__background{
        width: 100%;
    }

    .product__etiketa{
        width: 212.135px;
    }
}