@font-face {
    font-family: 'Briko Rough';
    src: url('./fonts/brikorough-bold.woff2') format('woff2'), url('./fonts/brikorough-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal
}

#konfigurator{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: initial;
    background: white;
}

.konfigurator__produkt{
    grid-column: 3;
}

.konfiguratorResults{
    grid-row: 3;
}

.konfiguratorChangeable, .konfiguratorResults{
    width: 99%;
    margin: .1rem auto;
    padding: 2rem 3rem;
    grid-column: 1 / span 2;
    overflow: hidden;
    background: #eee;
}
/*Nadpisy h2*/
.konfiguratorChangeable h2, .konfiguratorResults h2{
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-family: 'Briko Rough', sans-serif;
    text-transform: uppercase;
    text-align: left;
}

/*Nadpisy čísla*/
.konfiguratorChangeable h2:before
{
    content: "1";
    display: inline-block;
    margin-right: 1.7rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 40px;
    border-radius: 50%;
    background-color: #6babab;
    color: #fff;
    vertical-align: top;
    text-align: center;
}
.konfigurator__prisady h2:before{
    content: "2";
}
.konfigurator__velikost h2:before{
    content: "3";
}
.konfigurator__customText h2:before{
    content: "4";
}
.konfigurator__image h2:before{
    content: "5";
}
.konfiguratorAmount h2:before{
    content: "6";
}

/*Nastavení jednoselektorů*/
.konfigurator__zaklad .konfiguratorSingle__area, .konfigurator__prisady .konfiguratorMultiple__selectors{
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    grid-auto-flow: initial;
}

.konfigurator__prisady .konfiguratorMultiple__selectors{ margin-bottom: 1rem; }

.konfigurator__zaklad{ font-weight: bold; }

.konfiguratorSingle__area .optionText { text-align:left; width: 75%; font-weight: bold; }
.konfigurator__velikost .optionText{ width: auto; }
.konfiguratorSingle__area .optionText .small{
    font-weight: normal;
    display: block;
}

.konfigurator__velikost .konfiguratorSingle__area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: initial;
}

.konfigurator__velikost__item, .konfigurator__zaklad__item{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.konfigurator__zaklad__item.selectedItem .optionImage:after{
    border:5px solid #ffbf3f;
}
.konfigurator__zaklad__item:hover > .optionImage:after{
    border:5px solid #ffbf3f;
}

.konfigurator__velikost__item.selectedItem .optionImage:after{
    border:5px solid brown;
}
.konfigurator__velikost__item:hover > .optionImage:after{
    border:5px solid brown;
}


/*OptionImage*/
.optionImage{
    position: relative;
}
.optionImage:after{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.konfigurator__velikost__item > .optionImage, .konfigurator__mleti__item > .optionImage{
    width: 5rem;
    height: 5rem;
    background: white;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

.editImage{
    grid-row: 3;
    grid-column: 3;
    height: 3rem;

    transform: translate(25%, -305%);
    width: 60%;
    z-index: 1;
}

.orderSubmit{
    grid-row: 9;
}

.selectedItem{
    font-weight: inherit;
}

@media only screen and (max-width: 1200px){
    .editImage{
        grid-row: 7;
        grid-column: 1 / span 3;
        transform: translate(0, 0);
        width: 99%;
        margin: auto;
    }

    .orderSubmit{
        grid-row: 10;
        grid-column: 1 / span 3;
        margin-bottom: 1rem;
        width: 99%;
        margin: auto;
    }

    .konfiguratorChangeable, .konfiguratorResults, button{
        grid-column: 1 / span 3;
    }

    .konfigurator__zaklad .konfiguratorSingle__area, .konfigurator__prisady .konfiguratorMultiple__selectors, .konfigurator__velikost .konfiguratorSingle__area {
        grid-template-columns: 1fr !important;
    }

    .konfigurator__product{
        display: none;
    }

    .konfiguratorSingle__area .optionText{
        width: 60%;
    }
}